click==7.1.2
dj-database-url==0.5.0
Django==3.2.1
django-classy-tags==2.0.0
django-cms==3.8.0
django-filer==2.0.2
django-formtools==2.3
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.12.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-treebeard==4.5.1
djangocms-admin-style==2.0.2
djangocms-background-media==1.0.0
frontend
gunicorn==20.1.0
urllib3==1.25.10
psycopg2==2.8.5
pytz==2020.1
tools
utils==1.0.1
tmdbv3api
IMDbPY
requests
