body {
  font-family: "Lato", sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 5%;
  left: 5%;
  right: 5%;
  width: 85%;
  text-align: center;
  margin-top: 30px;
}

.overlay p {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  color: black;
  position: absolute;
  top: 30px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    color: black;
    font-size: 20px;
  }
  .overlay .closebtn {
    color: black;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
