input[type="text"] {
  margin-top: 50px;
  margin-left: 300px;
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

input[type="text"]:focus {
  width: 60%;
}

h1 {
  font-size: 55px;
  color: #fff;
  margin-top: 200px;
  margin-left: 400px;
}
h2 {
  font-size: 45px;
  color: #fff;
  margin-top: 100px;
  margin-left: 400px;
}

.btn-primary {
  margin-left: 550px;
  margin-top: 20px;
  color: #000;
}

body {
  font-family: sans-serif;

  font-weight: bold;
  background: rgb(195, 123, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(195, 123, 255, 1) 0%,
    rgba(131, 180, 237, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(195, 123, 255, 1) 0%,
    rgba(131, 180, 237, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(195, 123, 255, 1) 0%,
    rgba(131, 180, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c37bff",endColorstr="#83b4ed",GradientType=1);
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  margin-left: 300px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}
