.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 88%;
}

.image {
  flex-basis: 250%;
}

p {
  vertical-align: middle;
}

span {
  font-size: bold;
}

.text {
  font-weight: 600;
  font-size: 18px;
  padding-left: 20px;
}
