<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/3d.css' %}" />

    <script src="{% static 'js/audio.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>

  <body>
    <h1>Search For A Movie You Like</h1>
    {%csrf_token %}
    <div id="cover">
      <form action="result">
        <div class="tb">
          <div class="td">
            <input type="text" name="movie" placeholder="Search" required />
          </div>
          <div class="td" id="s-cover">
            <button type="submit">
              <div id="s-circle"></div>
              <span></span>
            </button>
          </div>
        </div>
      </form>
    </div>

    <h2>{{not_found}}</h2>
  </body>
</html>
